.container
{
/*	display:flex;
	flex-flow: column nowrap;
	width:100%;
	margin:0 auto;
	min-height:140rem;
	background-color:#999;*/
}

.container section
{
	padding-top:8rem;
}

.container section h2
{
	font-size:3.6rem;
	font-weight: bold;
	margin:2rem 1rem;
}


.container .currentTheme
{
	width:100%;
	height:100vh;
	background-color:green;
}

.container .products
{

}

.container .products .product
{
	display:flex;
	flex-flow:row nowrap;
	width:92%;
	margin:4rem auto;
	background-color:blue;
	min-height:25rem;
}

.container .products .product .product__image
{
	width:40rem;
	height:25rem;
	background-color:#993300;
}

.container .products .product .product__desc
{
	padding:1rem;
	font-size:1.6rem;
	line-height: 1.4em;
	width:100%;
	height:100%;
	background-color:#3399cc;
}

.container .products .product ul.product__content
{
	list-style-type: circle;
}

.container .products .product ul.product__content li
{
	font-size:2rem;
	margin:0.5rem 0;
}

.container .products .product ul.product__content li.exclusive
{
	font-weight: bold;
}

.container .products .product a
{
	color:#efefef;
	text-decoration: none;
}

.container .products .product a:hover
{
	color:#ccc;
}


.container .products .product .product__buyButton
{
	background-color:#222;
	border-radius:0.5rem;
	width:12rem;
	margin:1rem;
	padding:1rem;
	font-size:1.6rem;
	font-weight: bold;
	letter-spacing: 0.025em;
}

.container .content
{
	width:96%;
	margin:0 auto;
	min-height:60rem;
	background-color:red;
}
.container .content .questionAnswer
{
	width:98%;
	margin:1.5rem auto;
}

.container .content .questionAnswer h3
{
	font-size:2rem;
}

.container .content .questionAnswer blockquote
{
	font-size:1.6rem;
	line-height: 1.4em;
	width:96%;
	margin:0 auto;
}