ul.login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

ul li label.color {
  color: #fff;
}

ul li input {
  margin: 0.25rem;
  width: 50%;
}
